<%- include('../partials/header') %>
    <h1>Edit Product</h1>

    <form action="/products/<%= product._id %>?_method=PUT" method="POST" class="form">
        <label>Name</label>
        <input type="text" name="name" value="<%= product.name %>" required>

        <label>Price</label>
        <input type="number" name="price" value="<%= product.price %>">

        <label>Quantity</label>
        <input type="number" name="quantity" value="<%= product.quantity %>">

        <button type="submit">Update</button>
    </form>

    <a href="/products">⬅ Back to Products</a>
    <%- include('../partials/footer') %>